{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<head>
    <!--table filter-->
    <script src="node_modules/tablefilter/dist/tablefilter/tablefilter.js"></script>
</head>
<h1>Tweet Database</h1>

<table id="demo">
    <thead>
        <tr>
            <th>Location</th>
            <th>User Language</th>
            <th>Coordinates</th>
            <th>Created At</th>
            <th>Favorites</th>
            <th>Tweet Language</th>
            <th>Retweets</th>
            <th>Text</th>
            <th>Hashtag</th>
        </tr>
    </thead>
    {% for i, lang, ulang, faves in values %}
    {{ macros.render_text(i, lang, ulang, faves) }}
    {% endfor %}
</table>
<script>
var filtersConfig = {
  base_path: '',
  col_1: 'select',
  col_2: 'select',
  col_3: 'select',
  alternate_rows: true,
  rows_counter: true,
  btn_reset: true,
  loader: true,
  mark_active_columns: true,
  highlight_keywords: true,
  no_results_message: true,
  col_types: [
    'string', 'string', 'number',
    'number', 'number', 'number',
    'number', 'number', 'number'
  ],
  custom_options: {
    cols: [3],
    texts: [
      [
        '0 - 25 000',
        '100 000 - 1 500 000'
      ]
    ],
    values: [
      [
        '>0 && <=25000',
        '>100000 && <=1500000'
      ]
    ],
    sorts: [false]
  },
  col_widths: [
    '150px', '100px', '100px',
    '70px', '70px', '70px',
    '70px', '60px', '60px'
  ],
  extensions: [{
    name: 'sort',
    images_path: 'https://koalyptus.github.io/TableFilter/tablefilter/style/themes/'
  }]
};

var tf = new TableFilter('demo', filtersConfig);
tf.init();
</script>

</body>
</html>
{% endblock %}